.anna-avatar {
  width: 300px;
}

.post-all {
  margin-bottom: 40px;
}
.post {
  margin-top: 40px;
  margin-left: 40px;
}

.post-peak {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-weight: 100;
  max-width: 790px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Open Sans;
}

.post-title {
  margin: 0px 0 10px 0;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}

.date {
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-bottom: 10px;
  color: #777777;
}

.date.share-buttons {
  color: #C0C0C0 !important;

}

.date i {
  font-size: 16px;
  color: #C0C0C0 !important;
}

.btn-read-more {
  margin-top: 25px;
  color: #1e73be;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 2px 15px 4px 15px;
  background-color: #f5f5f5;
  border-radius: 50px;
  line-height: 24px;
  font-family: 'Montserrat' !important;
  &:hover {
    background-color: #1e73be;
    color: #ffffff;
  }
}

.founder {
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-bottom: 10px;
  color: #BBBBBB;
}
