.container-touch {
  margin-left: 47px;
  h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 2px;
  }
  i {
    font-size: 16px;
    color: #999999;
    line-height: 26px;
    text-align: left;
    font-family: PT Sans;
    font-weight: 400;
    font-style: italic;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 2px;
  }
  li {
    font-size: 16px;
    color: #999999;
    line-height: 26px;
    text-align: left;
    font-family: PT Sans;
    font-weight: 400;
  }
}
