.banner-order {
  height: 120%;
  top: -50px;
  left: 0;
  width: 100%;
  z-index: -1000;
  overflow: hidden;
  max-width: none;
  color: white;
  text-align: center;
  min-height: 470px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat top center fixed;
  background-size: cover;
  background-position: center center;
  margin-bottom: 90px;
}

.banner-content-order {
  h1 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    font-size: 13px;
    line-height: 24px;
    font-family: Open Sans;
    background-color: rgba(51,51,51,0.3);
    letter-spacing: 2px;
    margin: 0px 122px 11px;
    font-weight: 100;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

.sep-line-order {
  border-bottom: 1px solid #1E73BE;
  width: 100px;
  margin: 0 0 19px 55px;
}

.sep-line-easy {
  border-bottom: 1px solid #1E73BE;
  width: 100px;
  margin: 25px 0px 30px 0;
}

.order {
  color: #333333;
  h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 200;
    font-style: normal;
    margin: 35px 0 16px 55px;
    letter-spacing: 2px;
  }
}

.info-text.order {
  margin: 0 10px 0px 55px;
  color: #777777;
  h4 {
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #333;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    font-family: Open Sans;
    margin-bottom: 23px;
  }
  li {
    font-size: 14px;
    line-height: 24px;
    font-family: Open Sans;
    font-weight: 700;
    margin: 0px 0 22px 16px;
  }
  ol {
    padding: 0;
  }
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
}

.closing-text {
  p  {
   margin-top: 40px;
 }
}

.closing-text-p {
  p  {
   margin-top: 40px;
 }
}

#slider-arrow {
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 50px 50px 0 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 108%;
  left: 50%;
  position: absolute;
  margin-left: -25px;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  text-align: center;
  line-height: 50px;
  margin-top: -115px;
  img {
    height: 13px;
    margin-bottom: 15px;
  }

}
