.order.thinker {
  li {
    font-size: 14px;
    line-height: 24px;
    font-family: Open Sans;
    color: #777777;
    margin-left: 33px;
  }
  li > p {
    font-size: 14px;
    line-height: 24px;
    font-family: Open Sans;
    color: #777777;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    font-family: Open Sans;
    color: #777777;
  }
}

