.banner-work {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content-work {
  h1 {
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    margin-bottom: 20px;
    width: 1000px;
  }
}

.wrapper-work {
  margin-top: 30px;
  background-color: transparent;
  background: rgba(245, 245, 245, 0.26);
  opacity: 0.8;
  padding: 20px 20px 20px 10px;
  text-align: left;
}

.intro-text {
  margin-top: 40px;
  opacity: 1;
  font-style: italic;

}


