<div class="footer-container">
  <div class="footer text-center">
    <ul class= "list-inline" id="connect">
      <li><a href="https://uk.linkedin.com/in/petya-nikolova-084593a8" target="_blank">How it works</li>
      <li><a href="https://www.facebook.com/petia182" target="_blank">The team</li>
      <li><a href="https://github.com/petia182" target="_blank">Get in touch</a></li>
    </ul>
  </div>
</div>
