<div class="footer-container">
  <div class="footer text-center">
    <ul class= "list-inline" id="connect">
      <li><a href="#" target="_blank">How it works</li>
      <li><a href="#" target="_blank">The team</li>
      <li><a href="mailto:anna.gat@gmail.com">Get in touch</a></li>
    </ul>
  </div>
</div>
