<div class="footer-container">
  <div class="footer text-center">
    <ul class= "list-inline" id="connect">
      <li><a href="#" target="_blank">Some Text</li>
      <li><a href="#" target="_blank">Some Text</li>
      <li><a href="mailto:anna.gat@gmail.com">Some text</a></li>
    </ul>
  </div>
</div>
