<div class="banner-order" style="background-color: #333333">
  <div class="banner-content-order">
    <h1>DOMAINS OF DISCOURSE</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> DOMAINS OF DISCOURSE <!-- <span class="slash"> / </span> WE’RE LAUNCHING LIGHTCLOCK  --></p>
  </div>
</div>

<div id="slider-arrow" data-target="#info-text">
  <%= image_tag "arrow_bottom.png" %>
</div>

<div class="container post-all">
  <div class="row">


    <div class="col-md-9">
      <div class="post text-left">
        <h4 class="post-title">EINSTEINS LIGHT CLOCK</h4>
        <p class="date share-buttons">January 1, 2017 | Share:
        <!-- Facebook share button -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.lightclock.org/einsteins-light-clock" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
        <!-- Twitter share button -->
        <a href="http://twitter.com/home?status=https://www.lightclock.org/einsteins-light-clock" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
        <!-- Pinterest share button -->
        <a href="#" title="Share on Twitter" target="_blank" class="btn btn-pinterest"><i class="fa fa-pinterest"></i></a>
        <!-- LinkedIn share button -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=https://www.lightclock.org/einsteins-light-clock" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
        <!-- Google+ share button -->
        <a href="https://plus.google.com/share?url=https://www.lightclock.org/einsteins-light-clock" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i></a>
        </p>
        <p class="post-peak">A ‘light clock’ is a thought experiment proposed by Albert Einstein to explain time dilation, a key concept in his General Theory of Relativity. We respectfully borrow this image as our metaphor: The photon bouncing between two mirrors in perfect opposition. Or are they? Einstein proposed that what might look like an unbreakable constant, in reality very much depends on the position of the observer. He also concluded that one point of view is not more valid than the other.</p>
        <p>Although there are a bunch of funny videos on Youtube where you can check out the jumping photons, I’ve found the corresponding part in Walter Isaacson’s Einstein book, a masterpiece if you ask me, which can be interesting for those inclined:</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="text-center">
        <h6>Recent posts</h6>
        <hr>
        <p class="founder">Founder</p>
      </div>
    </div>

  </div>
</div>
