
<div class="banner-order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner-get-in-touch.jpg") %>)">
  <div class="banner-content-order">
    <h1>GET IN TOUCH</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> GET IN TOUCH</p>
  </div>
</div>
<div class="container-touch">
  <h2>GET IN TOUCH</h2>
  <div class="sep-line-order"></div>
  <p><i>LightClock is based in London. Come and say hi at hello@lightclock.org.</i></p>
  <h3>If you want to:</h3>
  <ul>
    <li><p>become a LightClock thinker</p></li>
    <li><p>order research</p></li>
    <li>support our mission</p></li>
    <li><p>enquire about work placement</p></li>
    <li><p>or you have a press enquiry</p></li>
    <div class="closing-text">
      <p>chat with Anna at anna@lightclock.org / (+44)7967338334</p>
      <p>or Peter at peter@lightclock.org.</p>
    </div>
  </ul>
</div>
