<div class="banner-team" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path ("team.jpg") %>);">
  <div class="banner-content-team">
    <h1>Get in touch</h1>
    <hr>
    <h3>LightClock° is based in London. Come and say hi at <span><a href="mailto:hello@lightclock.org" target="_top">hello@lightclock.org.</a></span></h3>
    <div class="wrapper-work">
      <p>If you want to</p>
        <ul>
          <li>
            become a LightClock° thinker
          </li>
          <li>
            order research
          </li>
          <li>
            support our mission
          </li>
          <li>
            or you have a press enquiry
          </li>
          </ul>

          <p>chat with Anna at <span><a href="mailto:anna@lightclock.org" target="_top">anna@lightclock.org.</a></span> or (+44)7967338334.</p>

          <p>Regarding website and product, Maria will be happy to talk to you at <span><a href="mailto:maria@lightclock.org" target="_top">maria@lightclock.org.</a></span></p>

          <p>Discuss researcher support, mediation, or how our algorithm works with Peter at <span><a href="mailto:peter@lightclock.org" target="_top">peter@lightclock.org.</a></span></p>
        </ul>
      </div>
    </div>
  </div>
