<div class="banner" style="background-image: url(<%= image_path ("banner-final.jpg") %>);">
  <div class="banner-content">
    <h1>LightClock</h1>
    <p>LightClock is a cross-disciplinary thinking platform, a large idea collider managing collaboration between thinkers of different fields and views to find groundbreaking solutions to real-world problems.</p>
    <div class="buttons">
      <a href="/contacts" class="btn btn-medium-thinker btn-lg">JOIN AS A THINKER</a>
      <a href="/contacts" class="btn btn-medium btn-lg">ORDER RESEARCH</a>
      <a href="/contacts" class="btn btn-medium btn-lg">READ</a>
    </div>

    <!-- Intro Header -->
    <header class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
<!--     <div class="button-read">
    <a class="btn btn-medium">I’m here to read good stuff</a>
  </div> -->
</div>
</div>

<div class="container-box text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" id="about">
      <%= link_to how_it_works_path, class: "info" do %>
      <i class="fa fa-eercast icon" aria-hidden="true"></i>
      <h3 class="info">How it works</h3>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= link_to team_path, class: "info" do %>
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <h3 class="info">The Team</h3>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <i class="fa fa-connectdevelop icon" aria-hidden="true"></i>
      <h3 class="info">Domains of Discourse</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <i class="fa fa-connectdevelop icon" aria-hidden="true"></i>
      <h3 class="info">Get in touch</h3>
    </div>
  </div>
</div>
