<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.28) 20%, #111831 94%), url(<%= image_path ("banner-cropped.jpg") %>);">
  <div class="banner-content">
    <h1>LIGHTCLOCK</h1>
    <p>LightClock° is a large idea collider managing collaboration between thinkers of opposite fields and views in order to find groundbreaking solutions to real-world problems.  </p>
    <div class="buttons">
      <a class="btn btn-medium btn-lg">I want to <br><strong>BECOME A THINKER</strong></a>
      <a class="btn btn-medium btn-lg", id="button-right">I want to<br><strong>ORDER RESEARCH</strong></a>
    </div>

        <!-- Intro Header -->
    <header class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
    </header>
<!--     <div class="button-read">
    <a class="btn btn-medium">I’m here to read good stuff</a>
    </div> -->
  </div>
</div>

<div class="container-box text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" id="about">
      <i class="fa fa-cogs icon" aria-hidden="true"></i>
      <h3 class="info">How it works</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <h3 class="info">The Team</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <i class="fa fa-comments icon" aria-hidden="true"></i>
      <h3 class="info">Get in touch</h3>
    </div>
  </div>
</div>
