<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.28) 56%, #031019 96%), url(<%= image_path ("banner.jpg") %>);">
  <div class="banner-content">
    <h1>LIGHTCLOCK</h1>
    <p>LightClock° is a brand new think tank, a large idea collider, managing collaboration between thinkers of opposite fields and views in order to find groundbreaking solutions to real-world problems. </p>
    <div class="buttons">
      <a class="btn btn-medium btn-lg">I want to <br><strong>BECOME A THINKER</strong></a>
      <a class="btn btn-medium btn-lg", id="button-right">I want to<br><strong>ORDER RESEARCH</strong></a>
    </div>
<!--     <div class="button-read">
      <a class="btn btn-read">I’m here to read good stuff</a>
    </div> -->
  </div>
</div>

<div class="container-box text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-eercast icon" aria-hidden="true"></i>
      <h3 class="info">How it works</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-users icon" aria-hidden="true"></i>
      <h3 class="info">The Team</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="fa fa-hourglass-start icon" aria-hidden="true"></i>
      <h3 class="info">Get in touch</h3>
    </div>
  </div>
</div>
