<div class="banner" style="background-image: url(<%= image_path ("banner-final.jpg") %>);">
  <div class="banner-content">
    <h1>LightClock</h1>
    <p>LightClock is a cross-disciplinary thinking platform, a large idea collider managing collaboration between thinkers of different fields and views to find groundbreaking solutions to real-world problems.</p>
    <div class="buttons">
      <a href="/contacts" class="btn btn-medium-left">JOIN AS A THINKER</a>
      <a href="/contacts" class="btn btn-medium-middle">ORDER RESEARCH</a>
      <a href="/contacts" class="btn btn-medium-right">READ</a>
      <div class="clear"></div>
    </div>

    <!-- Intro Header -->
    <header class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p id="how">How it works</p>
            <a class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
<!--     <div class="button-read">
    <a class="btn btn-medium">I’m here to read good stuff</a>
  </div> -->
</div>
</div>

<div class="container-box text-center padded features text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="info-title text-center">
        <h2>HOW IT WORKS</h2>
      </div>
      <div class="info-text text-center">
        <p><strong>LightClock is a co-thinking platform</strong> where experts from different fields and leanings can research and discuss topics in joint articles, and this way</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" id="about">
      <i class="fa fa-eye icon" aria-hidden="true"></i>
      <h3 class="info">UNDERSTAND THE OTHER SIDE’S POINT OF VIEW</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-gratipay icon" aria-hidden="true"></i>
      <h3 class="info">FIND AREAS OF AGREEMENT</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <i class="fa fa-lightbulb-o icon" aria-hidden="true"></i>
      <h3 class="info">PRODUCE OUT-OF-THE BOX RESULTS POSSIBLE ONLY WHEN IDEAS COLLIDE</h3>
    </div>
  </div>
</div>
