<%= content_for(:title) do %>
  Order research
<% end  %>

<div class="banner-order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner-order-research.jpg") %>)">
  <div class="banner-content-order">
    <h1>ORDER RESEARCH</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> ORDER RESEARCH</p>
    <div class="text-center">
    <%= link_to "ORDER RESEARCH", "/researchorders/new", class: "btn btn-medium-left thinker" %>
    </div>
  </div>
</div>

<div id="slider-arrow" data-target="#info-text">
  <%= image_tag "arrow_bottom.png" %>
</div>

<div class="order">
  <h2 id="info-text">Fuel your project with new ideas</h2>
  <div class="sep-line-order"></div>
</div>
<div class="info-text order">
  <p>Real original ideas can be hard to come by. It takes time to find and engage the best minds, and a fine-tuned system to support them through a productive work process.</p>
  <p>At LightClock we know that as a think tank, NGO, public or private organisation, or an academic or corporate body, you run projects where unique solutions are of key importance. There are questions to which you need new answers.</p>
</div>

<div class="order">
  <h2>Solve the big questions</h2>
  <div class="sep-line-order"></div>
</div>
<div class="info-text order">
  <h4>We have nicknamed LightClock a ‘large idea collider’: We are committed to bringing thinkers together into co-author duos from different policy fields, academic disciplines, or positions in what we call the theory/practice axis.</h4>
  <p>We manage, support and mediate so their different points of view lead to constructive new solutions within deadline.</p>
</div>

<div class="info-text order">
  <h4>Easy, cost-friendly, totally original</h4>
  <div class="sep-line-easy"></div>
  <ol>
    <li>Ordering research from LightClock</li>
    <p>When you contact LightClock with a research brief, we shortly get back to you so we can discuss the details.</p>
    <li>The brief becomes available to thinkers</li>
    <p>Once we have discussed the details, an edited version of your brief will be posted to our Brief Board available only to the thinker pool on our website. This will include your question, a description, a budget and a deadline. You can choose not to make your brief public to all thinkers if this is your request.</p>
    <li>You receive proposals from thinker duos</li>
    <p>Within an agreed timeframe, we will send you proposals by different thinker duos: they will explain what their angles would be on your question, and why their combination would produce something more useful, accessible and original than previous things written on the subject. You will choose a duo who will be notified.</p>
    <li>Support and client services</li>
    <p>LightClock’s editors and research assistants support the thinkers all through the work process – editing, mediating, time-management. We are also available to you whenever you have a question or request.</p>
    <li>Finishing a paper</li>
    <p>Papers are first accepted by our research head and then sent to you. In the future we are planning to implement open peer review too in cases where it’s possible.</p>
    <li>Publication</li>
    <p>Finished articles and papers are published in our Read section unless otherwise specified by you: there are options to make a given piece only partially public on our site, or you can retain sole usership too. We normally advise papers are made public: you can use it as advertisement for your project among our thinkers, rely on our social media networks for added publicity, and be part of a forward-thinking cool new initiative!</p>
    <li>Languages and translation</li>
    <p>Papers and articles published on <span><a href="http://lightclock.org/">lightclock.org</a></span> are in English, but we are happy to provide translation services upon request for your own platforms.</p>
  </ol>
  <div class="sep-line-easy"></div>
  <div class="closing-text">
    <h6>Read more on <i>How LC works</i><span><a href="http://lightclock.org"/> here.</a></span></h6>
    <h6>Read founder Anna Gát’s welcome post <span><a href="/were-launching-lightclock"/>here.</a></span></h6>
  </div>
  <div class="closing-text-p">
    <p>While our site is under construction, please send us a message at anna@lightclock.org containing your <strong>name, name of organisation, phone number, research subject and best time to be contacted</strong>, and we will get in touch with you on the first upcoming working day (GMT).</p>
    <p>Together, we will map out your research process, timeframe, budget and what platforms you’re looking to publish your ordered research on. We look forward to engaging the best minds for you!</p>
  </div>
  <hr>
</div>
