<div class="banner-order" style="background-image: url(<%= image_path ("banner-order-research.jpg") %>)">
  <div class="banner-content-order">
  <h1>ORDER RESEARCH</h1>
    <p><span><a href="/">HOME</a></span> / ORDER RESEARCH</p>
  </div>
</div>


