<div class="banner-order" style="background-color: #333333">
  <div class="banner-content-order">
    <h1>UNDER CONSTRUCTION</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> UNDER CONSTRUCTION</p>
  </div>
</div>
<div class="order">
  <h2>Coming Soon!</h2>
  <div class="sep-line-order"></div>
</div>
<div class="info-text order">
  <p>Meanwhile, you can sign up for the LC newsletter at <span><a href="mailto:hello@lightclock.org">hello@lightclock.org.</a></span></p>
</div>
<hr>
</div>
