<%= content_for(:title) do %>
  Join as a thinker
<% end  %>

<div class="banner-order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner-thinker.jpg") %>)">
  <div class="banner-content-order">
    <h1>I AM A THINKER</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> I AM A THINKER</p>
    <div class="text-center">
    <%= link_to "JOIN AS A THINKER", "/contacts/new", class: "btn btn-medium-left thinker" %>
    </div>
  </div>
</div>
<div id="slider-arrow" data-target="#info-text">
  <%= image_tag "arrow_bottom.png" %>
</div>
<div class="order thinker">
  <h2>Welcome to LightClock!</h2>
  <div class="sep-line-order"></div>
  <ul>
    <li><p>Apply to our thinker pool and be connected to fellow writers, experts, researchers and analysts.</p></li>
    <li><p>Undertake fun intellectual challenges.</p></li>
    <li>Collaborate with fellow thinkers who come from very different policy, discipline or political backgrounds.</p></li>
    <li><p>Enjoy being part of a diverse community where communication is straightforward and facilitated.</p></li>
    <li><p>Arrive at new, better solutions to today’s hardest problems together.</p></li>
    <li><p>Find paid and managed work in a safe, contracted and supported environment.</p></li>
    <li><p>Get published on one or more international platforms in a shareable format.</p></li>
    <li><p>Be part of an open, progressive initiative .</p></li>
  </ul>
</div>

<div class="order thinker">
  <h2>Being a thinker today</h2>
  <div class="sep-line-order"></div>
  <p class="thinker-p">2016 was a turbulent year. A lot of things happened, many of them causing us -thinkers, academics, technologists- concern, as we feel personally responsible. We decided to do something about it.</p>
  <p class="thinker-p">Read LightClock founder Anna Gát’s welcome blog post <span><a href="/were-launching-lightclock">here.</a></span></p>
  <p class="thinker-p">We went on to speak to many of the smartest people we know, listened closely, and noticed a pattern. We decided to act on it.</p>
  <p class="thinker-p">What did we find?</p>
  <ul>
    <li><p>Many of the smartest and most qualified people we know either work in academia and publish to very small audiences, or don’t work in their fields at all. For the latter group, a filter-bubble restricted social media is the only thinking platform, and most of their greatest ideas never reach a wider public.</p></li>
    <li><p>The sharpest minds we know suffer most of a lack of dialogue. The tunnel effect of their own ideas and being cut off from those of the ‘other side’ or different disciplines worry them and they are looking for a different way.</p></li>
    <li><p>The smart people of academia feel a great need for cross-disciplinary work which is often made difficult within university settings, due to funding or logistical reasons.</p></li>
    <li><p>The best thinkers we know are looking for opportunities to collaborate, but admit a great need for collaboration management, editorship and a contract as guarantee.</p></li>
    <li><p>The smartest people have the time and resources to contribute as co-authors in case the assignment is paid. We couldn’t agree more on how important this is as proof of respect to someone lending their brains to a good cause.</p></li>
    <li><p>Many of the brightest people we know are super excited that LightClock is happening and can’t wait to get work.</p></li>
  </ul>
  <div class="order thinker">
    <h2>How LightClock started</h2>
    <div class="sep-line-order"></div>
  </div>
  <p class="thinker-p">Anna Gát, LightClock’s founder, who comes from a left-liberal, humanities background, and Peter Isztin, a conservative-libertarian economist, couldn’t stop debating all through the past year. (No wonder, you’d think!)</p>
  <p class="thinker-p">They went to war over a cavalcade of topics including Margaret Thatcher’s treatment of the miners, paid maternity leave, Brexit and the NHS, alcohol consumption, religious institutions, daily applications of game theory, and whether Tyler Cowen or Alex Tabarrok is funnier, although they are not proud of this last one and it was pretty late.</p>
  <p class="thinker-p">Quite unexpectedly, these debates between Anna and Peter resulted in some amazing agreements – true realisations of no-judgement congeniality.</p>
  <p class="thinker-p">Based on the insights from fellow thinkers and their own personal experiences, Anna launched LightClock on 9 November 2016, a few hours before the results of the US election were announced. Timing is our forte, right?</p>

  <div class="order thinker">
    <h2>Where do you find a co-author?</h2>
    <div class="sep-line-order"></div>
  </div>
  <p class="thinker-p">LightClock thinkers work on paid assignments – you will find these on our Brief Board.
    Once you have found your co-author, you can apply to a brief with a proposal.</p>
    <p class="thinker-p">The company or organisation who submitted the brief will select the duo whose proposal is the most convincing: a pair of thinkers whose unique combination promises groundbreaking solutions!</p>
    <ul>
      <li><p>In the LightClock thinker pool, browsing profiles and our recommendations, using relevant keywords.</p></li>
      <li><p>You can bring a writing partner from your own networks as long as they are coming from a different discipline, leaning or background.</p></li>
      <li><p>We facilitate partner search via email alerts and personal reach-out.</p></li>
      <li><p>We also provide an app you can use to match you with a very different thinker with whom you would still enjoy working.</p></li>
    </ul>
    <p class="thinker-p">While the LC site is under construction, you can already join the thinker pool, be notified of potential assignments and introduced to fellow thinkers:</p>
    <p class="thinker-p">Please send an email containing your <strong>name, field of expertise, highest academic degree, website and attach your CV</strong> to <span><a href="mailto:anna@lightclock.org">anna@lightclock.org</a></span></p>
    <hr>

