<div class="banner-order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner-thinker.jpg") %>)">
  <div class="banner-content-order">
    <h1>ORDER RESEARCH</h1>
    <p><span><a href="/">HOME</a></span> / ORDER RESEARCH</p>
  </div>
</div>
<div class="order">
  <h2>Fuel your project with new ideas</h2>
  <div class="sep-line-order"></div>
</div>
<div class="info-text order">
  <p>Real original ideas can be hard to come by. It takes time to find and engage the best minds, and a fine-tuned system to support them through a productive work process.</p>
  <p>At LightClock we know that as a think tank, NGO, public or private organisation, or an academic or corporate body, you run projects where unique solutions are of key importance. There are questions to which you need new answers.</p>
</div>

<div class="order">
  <h2>Solve the big questions</h2>
  <div class="sep-line-order"></div>
</div>
<div class="info-text order">
  <h4>We have nicknamed LightClock a ‘large idea collider’: We are committed to bringing thinkers together into co-author duos from different policy fields, academic disciplines, or positions in what we call the theory/practice axis.</h4>
  <p>We manage, support and mediate so their different points of view lead to constructive new solutions within deadline.</p>
</div>
