<div class="banner-order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner-thinker.jpg") %>)">
  <div class="banner-content-order">
    <h1>I AM A THINKER</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> I AM A THINKER</p>
  </div>
</div>
<div class="order thinker">
  <h2>Welcome to LightClock!</h2>
  <div class="sep-line-order"></div>
  <ul>
    <li><p>Apply to our thinker pool and be connected to fellow writers, experts, researchers and analysts.</p></li>
    <li><p>Undertake fun intellectual challenges.</p></li>
    <li>Collaborate with fellow thinkers who come from very different policy, discipline or political backgrounds.</p></li>
    <li><p>Enjoy being part of a diverse community where communication is straightforward and facilitated.</p></li>
    <li><p>Arrive at new, better solutions to today’s hardest problems together.</p></li>
    <li><p>Find paid and managed work in a safe, contracted and supported environment.</p></li>
    <li><p>Get published on one or more international platforms in a shareable format.</p></li>
    <li><p>Be part of an open, progressive initiative .</p></li>
  </ul>
</div>

<div class="order thinker">
  <h2>Being a thinker today</h2>
  <div class="sep-line-order"></div>
  <p>2016 was a turbulent year. A lot of things happened, many of them causing us -thinkers, academics, technologists- concern, as we feel personally responsible. We decided to do something about it.</p>
  <p>Read LightClock founder Anna Gát’s welcome blog post <span><a href="#">here.</a></span></p>
  <p>We went on to speak to many of the smartest people we know, listened closely, and noticed a pattern. We decided to act on it.</p>
  <p>What did we find?</p>
  <ul>
    <li><p>Many of the smartest and most qualified people we know either work in academia and publish to very small audiences, or don’t work in their fields at all. For the latter group, a filter-bubble restricted social media is the only thinking platform, and most of their greatest ideas never reach a wider public.</p></li>
    <li><p>The sharpest minds we know suffer most of a lack of dialogue. The tunnel effect of their own ideas and being cut off from those of the ‘other side’ or different disciplines worry them and they are looking for a different way.</p></li>
    <li><p>The smart people of academia feel a great need for cross-disciplinary work which is often made difficult within university settings, due to funding or logistical reasons.</p></li>
    <li><p>The best thinkers we know are looking for opportunities to collaborate, but admit a great need for collaboration management, editorship and a contract as guarantee.</p></li>
    <li><p>The smartest people have the time and resources to contribute as co-authors in case the assignment is paid. We couldn’t agree more on how important this is as proof of respect to someone lending their brains to a good cause.</p></li>
    <li><p>Many of the brightest people we know are super excited that LightClock is happening and can’t wait to get work.</p></li>
  </ul>
  <div class="order">
    <h2>How LightClock started</h2>
    <div class="sep-line-order"></div>
  </div>
  <div class="info-text order">
    <h4>We have nicknamed LightClock a ‘large idea collider’: We are committed to bringing thinkers together into co-author duos from different policy fields, academic disciplines, or positions in what we call the theory/practice axis.</h4>
    <p>We manage, support and mediate so their different points of view lead to constructive new solutions within deadline.</p>
  </div>
