<div class="banner-order" style="background-color: #333333">
  <div class="banner-content-order">
    <h1>WE'RE LAUNCHING LIGHTCLOCK</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> DOMAINS OF DISCOURSE <!-- <span class="slash"> / </span> WE’RE LAUNCHING LIGHTCLOCK  --></p>
  </div>
</div>

<div id="slider-arrow" data-target="#info-text">
  <%= image_tag "arrow_bottom.png" %>
</div>

<div class="container post-all posts">
  <div class="row">

    <div class="col-md-9">
      <div class="post text-left">
        <h4 class="post-title expanded">WE'RE LAUNCHING LIGHTCLOCK</h4>
        <p class="date share-buttons">January 17, 2017 | Share:
          <!-- Facebook share button -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.lightclock.org/einsteins-light-clock" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
          <!-- Twitter share button -->
          <a href="http://twitter.com/home?status=https://www.lightclock.org/einsteins-light-clock" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
          <!-- Pinterest share button -->
          <a href="#" title="Share on Twitter" target="_blank" class="btn btn-pinterest"><i class="fa fa-pinterest"></i></a>
          <!-- LinkedIn share button -->
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=https://www.lightclock.org/einsteins-light-clock" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
          <!-- Google+ share button -->
          <a href="https://plus.google.com/share?url=https://www.lightclock.org/einsteins-light-clock" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i></a>
        </p>
        <div class="post-peak">
          <p><strong>Welcome! You must be wondering what all the fuss is about, so I thought I’d dedicate the first blog post to explaining some of the basics of how our co-thinking platform LightClock works and our philosophy.</strong></p>
          <p>LightClock was started when myself, coming from a left-liberal background in academia, journalism and literature, and my conservative-libertarian mastermind microeconomist friend Peter Isztin realised that our most progressive and out-of-the-box ideas arise when we debate until agreement.</p>
          <p>These tournaments of arguments used to go on for quite a while. Let’s say we had time to come up with something awesome!</p>
          <h4 class="title">What is LightClock?</h4>
          <p>LightClock is a large idea collider working closely with think tanks, NGOs and commercial clients, connecting them to our ‘thinker pool’ via paid research and article writing briefs.</p>
          <p>Thinkers from a vast array of disciplines including STEM, the social sciences and humanities can join the pool, find potential co-authors and send proposals for client briefs as a duo.</p>
          <p>Based on their proposal and the unique insight their combination will provide, one duo is selected for each brief. Together they can work on the brief’s problem within the brief’s timeframe.</p>
          <p>LightClock is based in London where we work internationally and accommodate to time zones.</p>
          <h4 class="title">Our philosophy</h4>
          <p>The most revealing moments in any debate are, surprisingly, not a participant’s crushing arguments, but instances of unexpected agreement.</p>
          <p>Regardless of policy school or political persuasion, <strong>good thinking is a flexible thing that likes company</strong>. Any thinker will attest to the challenges she needed to fine-tune a certain point, and the creative thrill and new scientific territories that intellectual cooperation offers.</p>
          <p>At LightClock we are committed to facilitating and managing <strong>cross-disciplinary collaboration</strong> between experts, writers and researchers – between co-author duos highly knowledgeable on the same subject but who do not hold the same exact opinions.</p>
          <p>We believe that</p>
          <ul>
            <li>such collisions of ideas <strong>make texts simpler and more accessible to the wider public</strong> as the two authors have to find a shared terminology between them in the first place;</li>
            <li>having left more rigid schools of thought behind, thinker duos can <strong>arrive to new solutions</strong> that are applicable and useful;</li>
            <li>by mediated discussion and gaining entry into a different area of expertise, co-authors will <strong>come upon welcome points of agreement;</strong></li>
            <li>co-authors will potentially <strong>find long term collaborators</strong> on LightClock greatly valuable for their career development.</li>
          </ul>
          <h4 class="title">So what’s happening now?</h4>
          <p>LightClock’s aptly eclectic team are working hard on building a platform where this connectedness can be effortlessly enjoyed. This process requires quite a bit of mental gymnastics from all of us here, and we are having a lot of fun! Until then, there are already a number of exciting papers being written by constructively disagreeing, highly qualified co-authors, and we’ll be posting them as they come in.</p>
          <p><strong>We have a detailed plan for building and scaling LightClock. This project is our mission, our big undertaking for the new year, in the active hope that it will also bring a new era.</strong></p>
          <p><strong>We are determined to do whatever we can against the cultural war deadlocks, the encapsulation of the best minds in ivory towers unapproachable to most readers, or the preaching to filter-bubble choirs with no chance for real debate.</strong></p>
          <p><strong>LightClock articles will be published in a conveniently shareable format, but it will be impossible to share a co-authored LightClock article with only one side of an argument: they all mercilessly contain negotiated, two-sided agreements. Because this is what real solutions look like.</strong></p>
          <p>Have a question to ask or some enthusiasm to share? Come join us or send a query at <a href="mailto:hello@lightclock.org">hello@lightclock.org.</a> We can’t wait to start working together.</p>
          <p>Here’s to a brighter 2017 where truths shine.</p>
          <p>Stay tuned, stay open,</p>
          <p class="post-ending">Anna</p>
          <p>and the LightClock team</p>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div>
        <h6 class="text-center" style="margin-bottom: 30px;">Recent posts</h6>
        <div class="container">

          <div class="row">
            <div class="col-sm-1">
              <%= image_tag "blog-pen.png", class: "blog-pen" %>
            </div>
            <div class="col-sm-3">
              <p class="post-title-small"><a href="/were-launching-lightclock" target="_blank">We're launching LightClock</a></p>
              <p class="date-small">JANUARY 17, 2017</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-1">
              <%= image_tag "blog-pen.png", class: "blog-pen" %>
            </div>
            <div class="col-sm-3">
              <p class="post-title-small"><a href="/einsteins-light-clock" target="_blank">Einstein’s light clock</a></p>
              <p class="date-small">JANUARY 1, 2017</p>
            </div>
          </div>

        </div>
        <hr>
      </div>
    </div>

  </div>
</div>
