<div class="banner-work" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path ("team.jpg") %>);">
  <div class="banner-content-work">
    <h1>How it works</h1>
    <hr>
    <h3>LightClock° is a co-thinking platform where experts from different fields and leanings can research and discuss topics in joint articles, and this way<h3>
      <p>
        <ul>
          <li>
            <%= image_tag "tube" %>
            understand the other side’s point of view
          </li>
          <li>
          <%= image_tag "tube" %>
            find areas of agreement
          </li>
          <li>
            <%= image_tag "tube" %>
            produce out of the box results possible only when ideas collide
          </li>
        </ul>
      </p>
      <div class="intro-text">
        <p>A “light clock” is a thought experiment Einstein used to explain his general theory of relativity, more precisely time dilation: Imagine a light beam -or photon- bouncing between two mirrors in perfect opposition. But what happens if we start moving the clocks? Suddenly the beams bounce in zigzags; their opposition was an illusion of a static state.</p>
      </div>
      <div class="wrapper-work">
        <p>We borrow Einstein’s image as metaphor and invite thinkers from various disciplines of analysis -political science and economics, STEM and law, cultural criticism and education, as well as historians and sociologists, futurists and activists etc.- to apply to the LightClock° thinker pool.</p>
        <p>LightClock° thinkers work in international opponent duos so that they arrive at stimulatingly negotiated and mutually agreed on solutions.</p>
        <p>When LightClock° are approached by a client - and NGO, a political organisation, a marketing agency etc. - we notify our thinker pool of the opportunity.</p>
        <p>LightClock° thinkers can undertake such paid research work in duos. You can bring a writing partner from your own networks (personal, Academia.edu, ResearchGate etc.) as long as your partner is coming from different disciplines / leanings / backgrounds etc. or, alternatively, you can find such a partner in the LightClock° thinker pool.</p>
        <p>Our think tank will facilitate the partner search via comprehensive thinker profiles, email alerts and personal reach-out, plus a simple, optional algorithm-based app you can use to match you with a very different thinker you wouldn’t otherwise think of, but with whom you would still enjoy working.</p>
        <p>While a duo works on their assignment, LightClock° provide support, management, mediation, editing, and, at the end, publication to our thinkers, as well as client and account services.</p>
      </div>
    </div>
  </div>
