// Your footer style
.footer-container {
  background: white;
  display: flex;
  flex-direction: row;
  color: #E8EEF2;
  padding: 23px 30px 15px 50px;
  align-items: center;
  background-color: #212326;
  box-shadow: none;
  p {
    float: left;
    line-height: 34px;
    font-size: 13px;
    font-family: Open Sans
  }
  a {
    color: white;
  }
}

.footer {
  p {
    float: left;
    line-height: 34px;
    font-size: 14px;
    font-family: Open Sans
  }
  a {
    color: white;
  }
  a:hover {
    color: #20C3C6;
    transition-duration: 1s;
    text-decoration: none;
  }
}



