/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: -13px;
  text-align: center;
  color: white;
}
.alert-info {
  background: #0088EA;
  border-color: none;
}
.alert-warning {
  background: $red;
}
