.banner {
  color: white;
  text-align: center;
  min-height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  margin-top: 100px;
}

.banner h1 {
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;

}

.banner-content p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  margin-bottom: 20px;
  width: 765px;
  font-family: 'Avarage', serif;
}

.banner img {
  position: absolute;
}
.container.contact {
  min-height: calc(100vh - 50px);
}

