.banner {
  color: white;
  text-align: center;
  min-height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat top center fixed;
  background-size: cover;
}

.banner-content {
  margin-top: 180px;
  p {
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 40px;
    max-width: 700px;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', serif;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-shadow: 1px 1px grey;
    animation-name: slidein;
    animation-duration: 2s;
  }
}


@keyframes slidein {
  from  {
    margin-bottom: 120%;
  }
  to {
    margin-bottom: 0%;
  }
}

.banner h1 {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat';
  font-size: 6.3vw;
  line-height: 69px;
  font-weight: 700;
}

.banner img {
  position: absolute;
}
.container.contact {
  min-height: calc(100vh - 50px);
}

