.btn-medium-left {
  color: white;
  padding: 10px 40px;
  font-size: 1.8vh;
  background-color: #0088EA;
  min-width: 180px !important;
  text-align: center;
  margin-right: 25px;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-color: #333333;
  }
}

.btn-medium-middle {
  color: #333333;
  padding: 10px 40px;
  font-weight: lighter;
  font-size: 1.8vh;
  background-color: white;
  min-width: 180px !important;
  margin-right: 25px;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-color: #333333;
  }
}

.btn-medium-right {
  color: #333333;
  padding: 10px 40px;
  font-weight: lighter;
  font-size: 1.8vh;
  min-width: 180px !important;
  background-color: white;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-color: #333333;
  }
  // flex: 0 0 10%;
}

.buttons {
  margin-top: 60px;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
}



/* Build your own button classes ! */
