.btn-medium {
  color: white;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 15px;
  background-color: #20C3C6;
  opacity: 0.7;
}

.buttons {
  margin-top: 30px;
}

#button-right {
  width: 153px;
  margin-left: 30px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: #11586D;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.button-read {
  margin-top: 30px;
}

/* Build your own button classes ! */
