.btn-medium-left {
  color: white;
  padding: 10px 40px;
  font-size: 1.8vh;
  background-color: #0088EA;
  min-width: 194px !important;
  text-align: center;
  line-height: 13px;
  margin-top: 10px;
  margin-right: 20px;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white !important;
    background-color: #333333 !important;
  }
}

.btn-medium-middle {
  color: #333333;
  padding: 10px 40px;
  font-weight: lighter;
  font-size: 1.8vh;
  background-color: white;
  min-width: 194px !important;
  line-height: 13px;
  margin-top: 10px;
  margin-right: 20px;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-color: #333333;
  }
}

.btn-medium-right {
  color: #333333;
  padding: 10px 40px;
  font-weight: lighter;
  font-size: 1.8vh;
  min-width: 194px !important;
  background-color: white;
  line-height: 13px;
  margin-top: 10px;
  margin-right: 20px;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    background-color: #333333;
  }
}

.buttons {
  margin-top: 60px;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://i.stack.imgur.com/MnyxU.gif") no-repeat center center #212326
}

/* Build your own button classes ! */
