.banner-container {
  display: flex;
  justify-content: center;
}

.container-box {
  background-color: white;
  color: #333333;
}

.info {
 color: #333333;
 font-size: 16px;
 line-height: 26px;
 text-transform: uppercase;
 &:hover {
  text-decoration: none;
}
}

.icon {
  color: black;
  font-size: 80px;
}


